body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1{
  text-align: center;
  color: limegreen ;
}

.box {
  width: 300px;
  padding: 20px;
  border: 5px solid black;
  margin: 15px auto;
  background-color: lightgray;
  text-align: center;
}

@media (max-width: 600px){
  body{
    background-color: lightblue;
  }
.box {
  width: 100%;
  padding: 10px;
  margin: 5px;
}
}

@media(min-width:601px) and (max-width:768px){
  body{
    background-color: lightgreen;
  }
  .box{
    width: 80%;
    padding: 15px;
    margin: 10px auto;
  }
}



